html {
  box-sizing: border-box;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section,
summary {
  display: block;
}

a,
area,
button,
input,
label,
select,
textarea,
[tabindex] {
  -ms-touch-action: manipulation;
  touch-action: manipulation;
}

img {
  border: 0;
}

.img-flex,
.img-flex img {
  display: block;
  width: 100%;
}

.embed {
  margin-left: 0;
  margin-right: 0;
  overflow: hidden;
  position: relative;
  width: 100%;
}

.embed-4by1, .embed--4by1 {
  padding-top: 25%; /* Polyvision */
}

.relative {
  position: relative;
}

[class*="pin-"],
.absolute {
  position: absolute;
}

.pin-top-left,
.pin-left-top,
.pin-tl,
.pin-lt {
  top: 0;
  left: 0;
}
